<div class="about-section">
    <h1 class="display-3">About Us</h1>
    <p>We provide employment information for both freshers and experienced candidates</p>
    <p>Our website provides free employment information for all job seekers.we are collecting information from various sources across web. </p>
    <p>We try to ensure,the provided information is useful.</p>
  </div>
  <br>
  <h2 style="text-align:center">Creator</h2>
  <br>
  <div class="row d-flex justify-content-center">

    <div class="column">
      <div class="card">
        <img class="card-img-top" src="../../assets/tech-hamster-logo.jpg" alt="Tech Hamster logo" style="width:100%">
        <div class="container">
          <h3>Tech Hamster</h3>
          <p>Follow us on youtube for tech videos and programming tutorials</p>
          <p><button class="button" (click)="openYoutube()">Youtube</button></p>
        </div>
      </div>
    </div>

  </div>