ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  li {
    float: left;
  }

  li:first-child
  {
    margin-left: 1.8rem;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 16px 18px 16px ;
    text-decoration: none;
  }

  .active
  {
    background-color: #111111;
  }
  
  li a:hover {
    background-color: #111111;
  }

/* pasted code */

.copyright {
  padding: 28px 0;
  margin-top: 55px;
  background-color: #202020; }
  .copyright span,
  .copyright a {
    color: #878787;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  .copyright a:hover {
    color:#007bff; }

.copyright-menu ul {
  text-align: right;
  margin: 0; }

.copyright-menu li {
  display: inline-block;
  padding-left: 20px; }

.back-to-top {
  position: relative;
  z-index: 2; 
}
.back-to-top .btn-dark 
{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #2e2e2e;
  border-color: #2e2e2e;
  display: none;
  z-index: 999;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; 
}
.back-to-top .btn-dark:hover 
{
    cursor: pointer;
    background: #FA6742;
    border-color: #FA6742; 
}