<nav >
  <ul>
    <li><a id="home" href="/">Home</a></li>
    <li><a id="companies" href="#">Companies</a></li>
    <li><a id="contact"  href="/contact">Contact Us</a></li>
    <li><a id="contact"  href="/about">About Us</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
<footer id="dk-footer" class="dk-footer">
  <div class="copyright">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <span>Copyright © 2021, JOB_PORTAL_NAME</span>
              </div>
          </div>
          <!-- End Row -->
      </div>
      <!-- End Copyright Container -->
  </div>
  <!-- End Copyright -->
  <!-- Back to top -->
  <div id="back-to-top" class="back-to-top">
      <button class="btn btn-dark" title="Back to Top" style="display: block;">
          <i class="fa fa-angle-up"></i>
      </button>
  </div>
  <!-- End Back to top -->
</footer>

<!-- <main>
  <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
      <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
          <div *ngFor="let post of posts" class="col">
              <div class="card h-100 shadow"> <img src="https://mdbootstrap.com/img/new/standard/nature/111.jpg" class="card-img-top" alt="post image">
                  <div class="card-body">
                      <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary"></span> <span class="float-end price-hp">{{post.date}}</span> </div>
                      <h5 class="card-title">{{post.heading}}</h5>
                      <p class="card-title">{{post.description}}</p>
                      <div class="text-center my-4"> <a (click)="handleClick(post)" class="btn btn-warning">Apply now</a> </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</main> -->