ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  li {
    float: left;
  }

  li:first-child
  {
    margin-left: 1.8rem;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 16px 18px 16px ;
    text-decoration: none;
  }

  .active
  {
    background-color: #111111;
  }
  
  li a:hover {
    background-color: #111111;
  }

/* pasted code */